doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')

    title= title || pkg.title

    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU="
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
      crossorigin="anonymous"
    )
    link(href='/s/css/styles.css', rel='stylesheet')
  body

    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/')= pkg.title
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown
            a#dropdown.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Web Dev Online Services
            .dropdown-menu(aria-labelledby='dropdown')
              a.dropdown-item(href='https://cssminifier.com/') CSS Minifier
              a.dropdown-item(href='https://javascript-minifier.com/') JavaScript Minifier
              a.dropdown-item(href='https://pngcrush.com/') PNG Crush
              a.dropdown-item(href='https://jpgoptimiser.com/') JPG Optimisier
              a.dropdown-item(href='https://html-minifier.com/') HTML Minifier
              a.dropdown-item(href='https://img-resize.com/') Image Resize
              a.dropdown-item(href='https://bcrypt.org/') BCrypt API
              a.dropdown-item(href='https://feed2json.org/') Feed to JSON
              a.dropdown-item(href='https://postb.in/') Post Bin
              a.dropdown-item(href='https://pow.gd/') URL Shortener
              a.dropdown-item(href='https://paste.gd/') Paste Service
              a.dropdown-item(href='https://markdown.gd/') Markdown is Good
          li.nav-item
            a.nav-link(href='https://webdev.sh/blog/')
              | Blog
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='https://twitter.com/WebDevSH')
              span.fa.fa-twitter
              |
              | WebDevSH
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href=`https://gitlab.com/webdev.sh/${pkg.name}`)
            span.fa.fa-gitlab
            |
            | Source


    main(role='main')

      .jumbotron
        .container
          .row
            .col-md-8
              h1.display-3= pkg.title
              p= pkg.description
            .col-md-4
              h3.display-5 Our other services
              p
                a(href="https://cssminifier.com/") cssminifier.com
                |
                | :
                |
                a(href="https://javascript-minifier.com/") javascript-minifier.com
                |
                | :
                |
                a(href="https://pngcrush.com/") pngcrush.com

      .container
        block content
        hr

    footer.container
      p
        a(href="/")= pkg.name
        |
        | by
        |
        a(href="https://chilts.org/") Andrew Chilton
        |
        | /
        |
        a(href="https://twitter.com/andychilton") @andychilton
        | .

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"
      integrity="sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk="
      crossorigin="anonymous"
    )
    script(src="/s/js/index.js")
